
    <div class="container-fluid">
        <h2 class="heading">Create a New Quote</h2>
        <!-- <hr> -->
        <form (ngSubmit)='submitQuote()' #quotesForm='ngForm'>
            <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="quoting.name" name="name" #name='ngModel' minlength="3">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
            </div>
            <div class="form-group">
            <label for="name">Quote Tittle</label>
            <input type="text" required class="form-control" id="title" [(ngModel)]="quoting.quotetitle" name="title" #title='ngModel'>
            <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                <p>Quote title is required</p>
            </div>
            </div>
            <div class="form-group">
            <label for="description">Quote</label>
            <textarea class="form-control" id="quote" rows="2" required [(ngModel)]="quoting.quoteBody" name="quote" #quote='ngModel'></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Quote is required</p>
            </div>
            </div>
            <div class="form-group">
            <label for="complete">Date Posted</label>
            <input type='date' id="complete" [(ngModel)]="newQuote.quoteDate" name="completeDate" #quoteDate="ngModel" required>
            <div [hidden]="quoteDate.valid || quoteDate.pristine" class="alert alert-danger">
            <p>Date is required</p>
            </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Add Quote</button>
        </form>
    </div>